---
import Section from '../components/Section.astro'
---

<Section 
  title="Disfruta de Tesla"
  subtitle="Programe una prueba de conducción hoy mismo"
  color="white"
>

  <div slot="footer">
    <a
      class="border-[3px] border-white bg-white/5 backdrop-blur-sm text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
      href="#"
    >
      Prueba de conducción
    </a>
  </div>

  <video 
    slot="background"
    class='w-screen h-screen object-cover' 
    src='video.webm' 
    autoplay 
    loop 
    muted />
</Section>
